{% extends "base.html" %}

{% block title %}Сотрудники{% endblock %}

{% block content %}

    <h1>Имена сотрудников</h1>

    <form method="get" action="{% url 'employees' %}">
        <input type="text" name="q" placeholder="Поиск по имени" value="{{ request.GET.q }}">
        <select name="team" value="{{ request.GET.team }}">
            <option value="">Выберите команду</option>
            {% for team in teams %}
            <option value="{{ team.id }}" {% if team.id == selected_team %}selected{% endif %}>{{ team.name }}</option>
            {% endfor %}
        </select>
        <button type="submit">Поиск</button>
    </form>

    <ul>
        {% for employee in employees %}

    <li><a href="{% url 'empl' %}">{{ employee.username }}</a></li>

        {% endfor %}
    </ul>

{% endblock %}